<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="apps.instant.sample.android.com.feature2">

    <application>
        <activity android:name=".Feature2Activity">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="example.com"
                    android:pathPattern="/feature2"
                    android:scheme="https" />
            </intent-filter>
        </activity>
    </application>

</manifest>